<center><img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="100" /></center>

# CDF Capstone Project

---
# **Table of Contents**
---
**1.** [**Introduction**](#Section1)<br>

**2.** [**Problem Statement**](#Section2)<br>

**3.** [**Installing & Importing Libraries**](#Section3)<br>
  - **3.1** [**Installing Libraries**](#Section31)
  - **3.2** [**Upgrading Libraries**](#Section32)
  - **3.3** [**Importing Libraries**](#Section33)

**4.** [**Data Acquisition & Description**](#Section4)<br>
  - **4.1** [**Data Information**](#Section41)
  - **4.2** [**Data Description**](#Section42)

**5.** [**Data Pre-processing**](#Section5)<br>
  - **5.1** [**Pre-Profiling Report**](#Section51)
  - **5.2** [**Handling of Missing Data**](#Section52)<br>
  - **5.3** [**Feature Engineering.**](#Section53)<br>
  - **5.4** [**Post Processing Report**](#Section54)<br>

**6.** [**Exploratory Data Analysis**](#Section6)<br>

**7.** [**Post Data Processing & Feature Selection**](#Section7)<br>
  - **7.1** [**Feature Selection**](#Section71)<br>
  - **7.2** [**Encoding the Categorical Data**](#Section72)<br>
  - **7.3** [**Data Preparation**](#Section73)<br>

**8.** [**Model Development & Evaluation**](#Section8)<br>
  - **8.1** [**ModelName - Baseline Model**](#Section81)<br>
  - **8.2** [**Using Trained Model for Prediction**](#Section82)<br>
  - **8.3** [**Model Evaluation**](#Section83)<br>

**9.** [**Summarization**](#Section9)<br>
  - **9.1** [**Conclusion**](#Section91)<br>
  - **9.2** [**Actionable Insights**](#Section92)<br>

---
<a name = Section1></a>
# **1. Introduction**
---


<center><img src="" /></center>

InsaidTelecom, one of the leading telecom players, understands that customizing offering is very important for its business to stay competitive.
Currently, InsaidTelecom is seeking to leverage behavioral data from more than 60% of the 50 million mobile devices active daily in India to help its clients better understand and interact with their audiences.

In this consulting assignment, Insaidians are expected to build a dashboard to understand user's demographic characteristics based on their mobile usage, geolocation, and mobile device properties.

Doing so will help millions of developers and brand advertisers around the world pursue data-driven marketing efforts which are relevant to their users and catered to their preferences.

---
<a name = Section2></a>
# **2. Problem Statement**
---


<center><img src="" /></center>

---
<a name = Section3></a>
# **3. Installing & Importing Libraries**
---

<a name = Section31></a>
### **3.1 Installing Libraries**

In [ ]:
#!pip install -q datascience                   # Package that is required by pandas profiling
#!pip install -q pandas-profiling              # Library to generate basic statistics about data
#!pip install -q yellowbrick                                         # Toolbox for Measuring Machine Performance

In [4]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp38-cp38-win_amd64.whl (7.2 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.4-cp38-cp38-win_amd64.whl (895 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.28 protobuf-3.19.4
Note: you may need to restart the kernel to use updated packages.

<a name = Section32></a>
### **3.2 Upgrading Libraries**

- **After upgrading** the libraries, you need to **restart the runtime** to make the libraries in sync. 

- Make sure not to execute the cell above (3.1) and below (3.2) again after restarting the runtime.

In [ ]:
#!pip install -q --upgrade pandas-profiling
#!pip install -q --upgrade yellowbrick

<a name = Section33></a>
### **3.3 Importing Libraries**

In [12]:
#-------------------------------------------------------------------------------------------------------------------------------
import pandas as pd                                                 # Importing for panel data analysis
from pandas_profiling import ProfileReport                          # Import Pandas Profiling (To generate Univariate Analysis) 
pd.set_option('display.max_columns', None)                          # Unfolding hidden features if the cardinality is high      
pd.set_option('display.max_colwidth', None)                         # Unfolding the max feature width for better clearity      
pd.set_option('display.max_rows', None)                             # Unfolding hidden data points if the cardinality is high
pd.set_option('mode.chained_assignment', None)                      # Removing restriction over chained assignments operations
pd.set_option('display.float_format', lambda x: '%.5f' % x)         # To suppress scientific notation over exponential values
#-------------------------------------------------------------------------------------------------------------------------------
import numpy as np                                                  # Importing package numpys (For Numerical Python)
from scipy.stats import randint as sp_randint                       # for initializing random integer values
#-------------------------------------------------------------------------------------------------------------------------------
import matplotlib.pyplot as plt                                     # Importing pyplot interface using matplotlib
from matplotlib.pylab import rcParams                               # Backend used for rendering and GUI integration                                               
import seaborn as sns                                               # Importin seaborm library for interactive visualization
%matplotlib inline
#-------------------------------------------------------------------------------------------------------------------------------
from sklearn.metrics import accuracy_score                          # For calculating the accuracy for the model
from sklearn.metrics import precision_score                         # For calculating the Precision of the model
from sklearn.metrics import recall_score                            # For calculating the recall of the model
from sklearn.metrics import precision_recall_curve                  # For precision and recall metric estimation
from sklearn.metrics import confusion_matrix                        # For verifying model performance using confusion matrix
from sklearn.metrics import f1_score                                # For Checking the F1-Score of our model  
from sklearn.metrics import roc_curve                               # For Roc-Auc metric estimation
#-------------------------------------------------------------------------------------------------------------------------------
from sklearn.model_selection import train_test_split                # To split the data in training and testing part     
from sklearn.feature_selection import SelectFromModel               # To perform Feature Selection over model
from yellowbrick.model_selection import FeatureImportances          # To retrieve Feature Importances over model
#-------------------------------------------------------------------------------------------------------------------------------
import warnings                                                     # Importing warning to disable runtime warnings
warnings.filterwarnings("ignore")                                   # Warnings will appear only once

In [1]:
import mysql.connector as connection

---
<a name = Section4></a>
# **4. Data Acquisition & Description**
---

**Importing the 1st dataset - 'events_data' from a csv file**

In [13]:
#Reading the events data from the csv file provided.
df_events_data = pd.read_csv('events_data.csv')
df_events_data.head()

,event_id,device_id,timestamp,longitude,latitude,city,state
0,2765368,2973347786994914304.00000,2016-05-07 22:52:05,77.22568,28.73014,Delhi,Delhi
1,2955066,4734221357723754496.00000,2016-05-01 20:44:16,88.38836,22.66033,Calcutta,WestBengal
2,605968,-3264499652692492800.00000,2016-05-02 14:23:04,77.25681,28.75791,Delhi,Delhi
3,448114,5731369272434022400.00000,2016-05-03 13:21:16,80.34361,13.15333,Chennai,TamilNadu
4,665740,338888002570799936.00000,2016-05-06 03:51:05,85.99774,23.84261,Bokaro,Jharkhand

In [14]:
df_events_data.shape

(3252950, 7)

**Importing the 2nd & 3rd dataset - 'gender_age_train' & 'phone_brand_device_model from MySQL database**

In [65]:
#Downloading the data from the MySQL database for gender_age_train & phone_brand_device_model onto Python by connecting to the below provided MySQL instance.
try:
    mydb = connection.connect(host="cpanel.insaid.co", database = 'Capstone1',user="student", passwd="student",use_pure=True)
    query1 = "Select * from gender_age_train;"
    query2 = "Select * from phone_brand_device_model;"
    df_gender_age = pd.read_sql(query1,mydb)
    df_brand_model = pd.read_sql(query2,mydb)
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

In [66]:
df_gender_age.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [67]:
df_gender_age.shape

(74645, 4)

In [68]:
df_brand_model.head()

             device_id phone_brand device_model
0  1877775838486905855        vivo          Y13
1 -3766087376657242966          小米         V183
2 -6238937574958215831        OPPO          R7s
3  8973197758510677470          三星        A368t
4 -2015528097870762664          小米      红米Note2

In [69]:
df_brand_model.shape

(87726, 3)

In [59]:
#df_gender_age.to_csv('gender_age_train.csv')

In [ ]:
#df_brand_model.to_csv('phone_brand_device_model.csv')

**Merging the above 3 dataframes into 1**
- We create a demographics Dataframe by merging the events dataset and gender_ brand dataset using Outer Join.

In [70]:
df_gender_brand = pd.merge(df_gender_age, df_brand_model, on='device_id', how='left')

In [71]:
df_gender_brand.head()

             device_id gender  age   group phone_brand device_model
0 -8076087639492063270      M   35  M32-38          小米         MI 2
1 -2897161552818060146      M   35  M32-38          小米         MI 2
2 -8260683887967679142      M   35  M32-38          小米         MI 2
3 -4938849341048082022      M   30  M29-31          三星    Galaxy S4
4   245133531816851882      M   30  M29-31       SUGAR         时尚手机

In [73]:
df_gender_brand.shape

(74645, 6)

In [74]:
df_demo_details = pd.merge(df_events_data, df_gender_brand, on='device_id', how='outer')
df_demo_details.head()

,event_id,device_id,timestamp,longitude,latitude,city,state,gender,age,group,phone_brand,device_model
0,2765368.00000,2973347786994914304.00000,2016-05-07 22:52:05,77.22568,28.73014,Delhi,Delhi,M,35.00000,M32-38,优米,UIMI3
1,1355198.00000,2973347786994914304.00000,2016-05-01 01:35:45,77.22568,28.73014,Delhi,Delhi,M,35.00000,M32-38,优米,UIMI3
2,1630972.00000,2973347786994914304.00000,2016-05-03 00:07:34,77.22568,28.73014,Delhi,Delhi,M,35.00000,M32-38,优米,UIMI3
3,2732453.00000,2973347786994914304.00000,2016-05-01 06:15:59,77.22568,28.73014,Delhi,Delhi,M,35.00000,M32-38,优米,UIMI3
4,1562542.00000,2973347786994914304.00000,2016-05-01 20:34:19,77.22568,28.73014,Delhi,Delhi,M,35.00000,M32-38,优米,UIMI3

In [75]:
df_demo_details.shape

(3327189, 12)

<a name = Section41></a>
### **4.1 Data Information**

- In this section we will see the **information about the types of features**.

In [76]:
df_demo_details.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3327189 entries, 0 to 3327188
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   event_id      float64
 1   device_id     float64
 2   timestamp     object
 3   longitude     float64
 4   latitude      float64
 5   city          object
 6   state         object
 7   gender        object
 8   age           float64
 9   group         object
 10  phone_brand   object
 11  device_model  object
dtypes: float64(5), object(7)
memory usage: 330.0+ MB

**Observations:**

<a name = Section42></a>
### **4.2 Data Description**

- In this section we will get **information about the data** and see some observations.

In [77]:
df_demo_details.describe()

,event_id,device_id,longitude,latitude,age
count,3252950.00000,3326736.00000,3252527.00000,3252527.00000,91221.00000
mean,1626475.50000,98963500345981664.00000,78.15868,21.68851,31.59912
std,939045.92342,5317286504934879232.00000,4.23557,5.78911,9.74659
min,1.00000,-9223067244542181376.00000,12.56700,8.19011,1.00000
25%,813238.25000,-4543104170680990208.00000,75.83543,17.80171,25.00000
50%,1626475.50000,166224828374383584.00000,77.26814,22.16454,29.00000
75%,2439712.75000,4857750865443372032.00000,80.31916,28.68278,36.00000
max,3252950.00000,9222849349208140800.00000,95.45946,41.87190,96.00000

In [78]:
df_demo_details.describe(include=[object])

,timestamp,city,state,gender,group,phone_brand,device_model
count,3252950,3252950,3252573,91221,91221,91193,91193
unique,588126,933,32,2,12,111,1427
top,2016-05-03 10:00:03,Delhi,Delhi,M,M23-26,小米,红米note
freq,43,744276,751733,59474,12747,22711,4174

**Observations:**

<a name = Section5></a>

---
# **5. Data Pre-Processing**
---

<a name = Section51></a>
### **5.1 Pre-Profiling Report**

- For **quick analysis** pandas profiling is very handy.

- Generates profile reports from a pandas DataFrame.

- For each column **statistics** are presented in an interactive HTML report.

In [ ]:
#profile = ProfileReport(df = )
#profile.to_file(output_file = 'Pre Profiling Report.html')
#print('Accomplished!')

**Observation:**

<a name = Section52></a>
### **5.2 Handling of Missing Data**

- In this section we will **handle** **missing information** such as **null data** and **zero data**.

<a name = Section53></a>
### **5.3 Feature Engineering.**

<a name = Section54></a>
### **5.4 Post Processing Report**

- After doing **missing value Imputation**, **feature engineering**, **Removing unwanted features** we will now look at the report again.

**Observation:**

<a name = Section6></a>

---
# **6. Exploratory Data Analysis**
---

**<h4>Question: </h4>**

<a name = Section7></a>

---
# **7. Post Data Processing & Feature Selection**
---

<a name = Section71></a>
### **7.1 Feature Selection**

<a name = Section72></a>
### **7.2 Encoding Categorical Features**

<a name = Section73></a>
### **7.3 Data Preparation**

- Now we will **split** our **data** in **training** and **testing** part for further development.

<a name = Section8></a>

---
# **8. Model Development & Evaluation**
---

- In this section we will **develop xxModel namexxx using input features** and **tune** our **model if required**.

- Then we will **analyze the results** obtained and **make our observation**.

- For **evaluation purpose** we will **focus** on **Accuracy**, Also we will check for **Precision**,**Recall**,**F1-Score**,**Roc-Auc-Curve** and **Precision-Recall Curve**.

<a name = Section81></a>

## **8.1 Model Name - Baseline Model**

<a name = Section82></a>

## **8.2 Using Trained Model for Prediction**

<a name = Section83></a>

## **8.3 Model Name  Model Evaluation**

<a name = Section9></a>

---
# **9. Conclusion**
---

<a name = Section91></a>
### **9.1 Conclusion**

<a name = Section92></a>
### **9.2 Actionable Insights**